/* Fonts */

@font-face {
    font-family: "notera";
    src: url("./assets/fonts/notera.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "adobe garamond pro";
    src: url("./assets/fonts/garamond.ttf");
    font-weight: normal;
    font-style: normal;
}

img {
    margin: 0;
}

/* Styling Starts Here */

.right {
    text-align: right;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #6699ee;
}

::selection {
    color: #fff;
    background: #6699ee;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

nav a {
    color: #222;
}

.normal {
    display: flex;
}

.normal a {
    margin-left: 1em;
    font-family: 'times new roman';
}

nav ul a {
    text-decoration: none;
    list-style-type: none;
}

.logo {
    font-family: 'notera';
    font-size: 3em;
}

.subtitle {
    font-family: 'adobe garamond pro';
    font-size: 2.2em;
}

.main-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.5em;
}

#mainbody {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 750px) {
    nav {
        flex-direction: column;
    }
    .main-title {
        font-size: 3.2em;
    }
    .logo {
        text-align: center;
    }
    nav {
        text-align: center;
    }
}

#about {
    margin-top: 4em;
}

#about img {
    width: 60%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text-item {
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

@media (max-width: 1000px) {
    .flex {
        flex-direction: column;
    }
    .text-item {
        width: 100%;
        margin-bottom: 2em;
    }
    #about img {
        width: 85%;
    }
    .about-item p {
        text-align: center;
    }
}

/* Masonry Flexbox Thing */

.masonry {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    /* Your container needs a fixed height, and it 
     * needs to be taller than your tallest column. */
    height: 1625px;
    margin: 2em 0 4em 0;
}

.flexItem {
    width: 33%;
    margin-bottom: 0.4em;
    /* Optional */
}

/* Re-order items into 3 rows */

.flexItem:nth-child(3n+1) {
    order: 1;
}

.flexItem:nth-child(3n+2) {
    order: 2;
}

.flexItem:nth-child(3n) {
    order: 3;
}

/* Force new columns */

.masonry::before, .masonry::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

.non-mason {
    display: none;
    margin: 3em 0;
}

.colitem {
    width: 100%;
}

@media (max-width: 750px) {
    .masonry {
        display: none;
    }
    .non-mason {
        display: block;
    }
}

@media (max-width: 1100px) {
    .masonry {
        height: 1350px;
    }
}

@media (max-width: 950px) {
    .masonry {
        height: 1100px;
    }
}

@media (max-width: 850px) {
    .masonry {
        height: 975px;
    }
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}